body {
	background-color: #B04632;
}
.jumbotron {
	background-color: #B04632;
	font-family: sans-serif;
}
#button1{
	background-color: grey;
}
#swimlanes{
	display: flex;
	flex-wrap: nowrap;
	overflow: scroll;
}
.swimlane {
	background-color: #E2E4E6;
	width: 335px;
	min-height: 300px;
	min-width: 300px;
	overflow: scroll;
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 15px;
	border-radius: 5px;
	border: 1px solid black;
}

.icon{
	margin-left: 15px;
	color: #838C91;
}

.swimlane .header {
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 14px;
	font-weight: bolder;
	color: black;
	width: auto;
	background-color: white;
	margin:15px;
	border-radius: 5px;
}
.card{
	min-height:200px; 
	margin: 10px;
	background-color: lightblue;
	border: 1px solid lightgrey;
	border-radius: 5px;
}
.card .header{
	padding-left: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: black;
	background-color: lightgrey;
}

.icons{
	display: flex;
	justify-content: space-around;
}
.card-white{
	background-color: white;
}
.card-tintColor{
	background-color: #F3E5E2;
}
.card .description{
	padding-left: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: black;
	height:auto;
	overflow: auto;
}



